[submodule "xresources"]
	path = xresources
	url = https://github.com/RougarouTheme/xresources
[submodule "iterm"]
	path = iterm
	url = https://github.com/RougarouTheme/iterm
[submodule "ranger"]
	path = ranger
	url = https://github.com/RougarouTheme/ranger
[submodule "visual-studio-code"]
	path = visual-studio-code
	url = https://github.com/RougarouTheme/visual-studio-code
[submodule "rougarou-zsh"]
	path = rougarou-zsh
	url = https://github.com/RougarouTheme/rougarou-zsh
